# Environment variables
.env
ca_bundle.crt
dockerfile
docker-compose.yml
waysfood.crt
waysfood.key
app
# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
